<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Payment  </ion-title>
    <ion-icon (click)="go()" name="arrow-back"></ion-icon>   
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-card>
    <ion-card-content>
        <ion-list-header end><p>Payment Details</p></ion-list-header>
        <ion-list>
            <ion-item>
              <ion-label>Pay to : Muhammad Ali</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Account Number : 123456789</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Bank : CIMB Islamic</ion-label>
            </ion-item>
          </ion-list>    
      </ion-card-content>
  </ion-card>
  </ion-list>
  </ion-content>