<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="profile()">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Profile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-avatar style="margin: auto">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <div>
    <ion-label class="">
      Name

    </ion-label>
    <ion-input type="text" placeholder="Nina Joseph"></ion-input>

    <ion-label class="">
      Email</ion-label>
    <ion-input type="text" placeholder="ninajoseph13@gmail.com"></ion-input>

    <ion-label class="">
      Contact</ion-label>
    <ion-input type="text" placeholder="013-222434354"></ion-input>

  </div>

</ion-content>