<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="profile()">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      My Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Display all the photos in gallery -->
<ion-content padding>
  <div class="images">
    <ion-item class="one-image" *ngFor="let item of images; let i = index; trackBy:index">
      <img [src]=item height="90px"/>
    </ion-item>
  </div>

  <!-- button link to "upload-photo" page -->
  <ion-button (click)="uploadPhoto()" fill="clear" ><ion-icon slot="icon-only" name="add-circle" large></ion-icon></ion-button>
</ion-content>