<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="profile()">
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      My Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Display all the photos in gallery -->
<ion-content padding>
  <div class="images">
    <div class="one-image" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11,12]">
      <img src="assets/image/{{image}}.jpg">
    </div>
  </div>

  <!-- button link to "upload-photo" page -->
  <ion-button (click)="uploadPhoto()" fill="clear" ><ion-icon slot="icon-only" name="add-circle" large></ion-icon></ion-button>
</ion-content>