<ion-header>
  <ion-toolbar>
    <ion-title>
      JOM!
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- [START] Testing the dashboard and logout. UI Team can edit here-->
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="logout()">Log Out</ion-button>
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>


</ion-content>
<!-- <ion-footer (click)="logout()">
    
</ion-footer> -->

<!-- [END] Testing ends here -->