<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=#>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      New Trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" autocomplete="off" (submit)="createTrip(form)">
    
    <!-- {{ createTripForm.value | json }} -->
    <ion-grid>

      <ion-list>
        <ion-item>
          <ion-select name="trip_type" #trip_type="ngModel" [(ngModel)]="service.formData.trip_type" class="form-control" placeholder="Trip Type">
            <!-- variables of trip type -->
            <ion-select-option name="trip_type" value="hiking">Hiking</ion-select-option>
            <ion-select-option name="trip_type" value="campsite">Campsite</ion-select-option>
            <ion-select-option name="trip_type" value="waterfall">Waterfall</ion-select-option>
            <ion-select-option name="trip_type" value="resort">Resort</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- variable of trip name-->
      <ion-item>
        <ion-input name="trip_name" #trip_name="ngModel" [(ngModel)]="service.formData.trip_name" class="form-control" ngModel placeholder="Trip Name"></ion-input>
      </ion-item>

      <ion-item>
        <!-- variable of trip destination-->
        <ion-input name="trip_dest" ngModel placeholder="Trip Destination"></ion-input>
        <!-- suggest suitable location -->
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="D MMM YYYY h:mm a" max="2070" name="start_date_time" ngModel placeholder="Start Date & Time">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="D MMM YYYY h:mm a" max="2070" name="end_date_time" ngModel placeholder="End Date & Time">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="people"></ion-icon>
            <ion-input name="pax" #pax="ngModel" [(ngModel)]="service.formData.pax" class="form-control" placeholder="Pax"></ion-input>
          </ion-item>
        </ion-col>


        <ion-col>
          <ion-item>
            <ion-icon name="cash"></ion-icon>
              <ion-input name="fee" ngModel placeholder="MYR"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="bed"></ion-icon>
              <ion-input name="num_day" ngModel placeholder="Days / Nights"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-input name="rv" ngModel placeholder="RV"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-textarea rows="3" cols="50" placeholder="Enter trip details ..." name="trip_details" ngModel>
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-textarea rows="3" cols="50" placeholder="Payment details ..." name="payment_details" ngModel>
        </ion-textarea>
      </ion-item>


      <ion-row>
        <ion-col>
          <ion-button href="#">Cancel</ion-button>
        </ion-col>

        <ion-col offset="4">
          <ion-button type="submit" block>Create </ion-button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>
</ion-content>