<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=#>
      </ion-back-button>
    </ion-buttons>
    <ion-title>
      New Trip
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (submit)="createTrip(form)">
  <input type ="hidden" name="email" #email="ngModel" [(ngModel)]="service.formData.email">
  <input type ="hidden" name="tripid" #tripid="ngModel" [(ngModel)]="service.formData.tripid">
    <!-- {{ createTripForm.value | json }} -->
    <ion-grid>
      <ion-list>
        <ion-item>
            <ion-label>Trip Type</ion-label>
          <ion-select style="max-width:100%; width:100%" name="trip_type" #trip_type="ngModel" [(ngModel)]="service.formData.trip_type" placeholder="Trip Type">%
            <!-- variables of trip type -->
            <ion-select-option name="trip_type" value="hiking">Hiking</ion-select-option>
            <ion-select-option name="trip_type" value="campsite">Campsite</ion-select-option>
            <ion-select-option name="trip_type" value="waterfall">Waterfall</ion-select-option>
            <ion-select-option name="trip_type" value="resort">Resort</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <!-- variable of trip name-->
      <ion-item>
        <ion-input name="trip_name" #trip_name="ngModel" [(ngModel)]="service.formData.trip_name" placeholder="Trip Name"></ion-input>
      </ion-item>

        <!-- variable of trip destination  <ion-input name="trip_dest" #trip_dest="ngModel" [(ngModel)]="service.formData.trip_dest" placeholder="Trip Destination"></ion-input> -->
        <ion-searchbar name="trip_dest" #trip_dest="ngModel" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item  *ngFor="let item of autocompleteItems;let i = index" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
        <!-- suggest suitable location -->


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="D MMM YYYY" max="2070" name="start_date" placeholder="Start Date" #start_date_time="ngModel" [(ngModel)]="service.formData.start_date" >
            </ion-datetime>
          </ion-item>
        </ion-col> 
        <ion-col> 
          <ion-item>
            <ion-icon name="time" size="small"></ion-icon>
            <ion-datetime displayFormat="h:mm a"  name="start_time" placeholder="Start Time" #start_date_time="ngModel" [(ngModel)]="service.formData.start_time" >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-datetime displayFormat="D MMM YYYY" max="2070" name="end_date" placeholder="End Date" #end_date_time="ngModel" [(ngModel)]="service.formData.end_date" >
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="time" size="small"></ion-icon>
            <ion-datetime displayFormat="h:mm a"  name="end_time" placeholder="End Time" #end_date_time="ngModel" [(ngModel)]="service.formData.end_time" >
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="people"></ion-icon>
            <ion-input name="pax" #pax="ngModel" [(ngModel)]="service.formData.pax" placeholder="Max Pax"></ion-input>
          </ion-item>
        </ion-col>


        <ion-col>
          <ion-item>
            <ion-icon name="cash"></ion-icon>
              <ion-input name="fee" #fee="ngModel" [(ngModel)]="service.formData.fee" placeholder="MYR"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="bed"></ion-icon>
              <ion-input name="num_day" #num_day="ngModel" [(ngModel)]="service.formData.num_day" placeholder="Days / Nights"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-input name="rv" #rv="ngModel" [(ngModel)]="service.formData.rv" placeholder="RV"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-card>
               
          <ion-card-header color="primary">
              <ion-card-title>Payment Details</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            <ion-item>
            <ion-label position="floating">Account's holder name</ion-label>
              <ion-input name="account_name" #account_name="ngModel" [(ngModel)]="service.formData.account_name" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Account number</ion-label>
              <ion-input name="account_no" #account_no="ngModel" [(ngModel)]="service.formData.account_no" ></ion-input>
            </ion-item>
           
              <ion-list>
                  <ion-item>   
                  <ion-label>Bank</ion-label>        
                    <ion-select name="bank" #bank="ngModel" [(ngModel)]="service.formData.bank" >
                      <ion-select-option name="bank" value="Affin">	Affin Bank Berhad</ion-select-option>
                      <ion-select-option name="bank" value="Alliance">Alliance Bank Malaysia Berhad</ion-select-option>
                      <ion-select-option name="bank" value="AmBank">AmBank (M) Berhad</ion-select-option>
                      <ion-select-option name="bank" value="BNP"> BNP Paribas Malaysia Berhad</ion-select-option>
                      <ion-select-option name="bank" value="Bangkok">	Bangkok Bank Berhad</ion-select-option>
                      <ion-select-option name="bank" value="America">	Bank of America Malaysia Berhad</ion-select-option>
                      <ion-select-option name="bank" value="China"> 	Bank of China (Malaysia) Berhad</ion-select-option>
                      <ion-select-option name="bank" value="CIMB">	CIMB Bank Berhad </ion-select-option>
                      <ion-select-option name="bank" value="ChinaConstr">	China Construction Bank (Malaysia) Berhad</ion-select-option>
                      <ion-select-option name="bank" value="Citibank">	Citibank Berhad</ion-select-option>
                      <ion-select-option name="bank" value="Deutsche">	Deutsche Bank (Malaysia) Berhad </ion-select-option>
                      <ion-select-option name="bank" value="HSBC"> HSBC Bank Malaysia Berhad	 </ion-select-option>
                      <ion-select-option name="bank" value="HongLeong"> Hong Leong Bank Berhad </ion-select-option>
                      <ion-select-option name="bank" value="IndiaInt"> India International Bank (Malaysia) Berhad	 </ion-select-option>
                      <ion-select-option name="bank" value="IndComm"> 	Industrial and Commercial Bank of China (Malaysia) Berhad	 </ion-select-option>
                      <ion-select-option name="bank" value="Morgan">	J.P. Morgan Chase Bank Berhad	 </ion-select-option>
                      <ion-select-option name="bank" value="MUFG">	MUFG Bank (Malaysia) Berhad</ion-select-option>
                      <ion-select-option name="bank" value="Malayan"> 	Malayan Banking Berhad	</ion-select-option>
                      <ion-select-option name="bank" value="Mizuho"> Mizuho Bank (Malaysia) Berhad	</ion-select-option>
                      <ion-select-option name="bank" value="OCBC"> OCBC Bank (Malaysia) Berhad	</ion-select-option>
                      <ion-select-option name="bank" value="Public"> Public Bank Berhad	</ion-select-option>
                      <ion-select-option name="bank" value="RHB"> 	RHB Bank Berhad	</ion-select-option>
                      <ion-select-option name="bank" value="StandardChartered"> 	Standard Chartered Bank Malaysia Berhad 	</ion-select-option>
                      <ion-select-option name="bank" value="Sumitomo"> 	Sumitomo Mitsui Banking Corporation Malaysia Berhad	</ion-select-option>
                      <ion-select-option name="bank" value="NovaScotia"> 	The Bank of Nova Scotia Berhad</ion-select-option>
                      <ion-select-option name="bank" value="UnitedOverseas"> United Overseas Bank (Malaysia) Bhd.</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card> 
        
            <ion-card-header color="primary"> 
              <ion-card-title>Trip Details</ion-card-title>
              </ion-card-header>
            
            <ion-card-content>
                <ion-item>
                    <ion-textarea rows="3" cols="50" placeholder="Enter trip details ..." name="trip_details" #trip_details="ngModel" [(ngModel)]="service.formData.trip_details" >
                    </ion-textarea>
                  </ion-item>
            </ion-card-content>
          </ion-card>

      
      <ion-row>
        <ion-col>
          <ion-button href="#" >Cancel</ion-button>
        </ion-col>

        <ion-col offset="4">
          <ion-button type="submit" [disabled]="form.invalid" block>Create </ion-button>
        </ion-col>
      </ion-row>


    </ion-grid>
  </form>
</ion-content>
