<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="gallery()">Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>
      Upload Photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Section display photos from phone -->
  <div class="photos">
    <ion-icon name="photos"></ion-icon>
  </div>

  <!-- Enter location (loacation search like instagram) -->
  <ion-item>
    <ion-label>Add Location</ion-label>
    <ionic-selectable
    [(ngModel)]="location" 
    [items]="locations" 
    itemValueField="id" 
    itemTextField="name"
    [canSearch]="true"
    (onChange)="userChanged($event)">
    </ionic-selectable>
  </ion-item>


  <!-- Enter trip name -->
  <ion-item>
    <ion-label>Add Trip Title</ion-label>
    <ionic-selectable
    [(ngModel)]="location" 
    [items]="locations" 
    itemValueField="id" 
    itemTextField="name"
    [canSearch]="true"
    (onChange)="userChanged($event)">
    </ionic-selectable>
  </ion-item>

  <div class="upload">
    <!-- Upload photo button -->
    <ion-button (click)="getPhoto()">Upload</ion-button>
  </div>

  <!-- only for debug purpose -->
  <label>{{errorMessage}}</label>

</ion-content>